<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Grafon - Construction  Building Renovate Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/reset.css">
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/color.css">
        <link type="text/css" rel="stylesheet" href="css/yourstyle.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--================= loader start ================-->
        <div class="loader-holder">
            <div class="loader-inner loader-vis">
                <div class="loader"></div>
            </div>
        </div>
        <!-- loader end -->
        <!--================= main start ================-->
        <div id="main">
            <!--=============== wrapper inner ===============-->
            <div class="wrapper-inner">
                <!-- top bar -->
                <div class="top-bar">
                    <div class="top-bar-header">
                        <div class="dynamic-title">
                            <span>Page : </span> 
                        </div>
                        <ul class="topbar-social">
                            <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="top-bar-header-contact">
                        <ul>
                            <li><i class="fa fa-phone"></i><span>Wattsap</span><a href="#">  +32(0)455143124</a></li>
                            <li><i class="fa fa-motorcycle"></i><span>Adresse</span><a href="#">Belgium</a></li>
                            <li><i class="fa fa-envelope-o"></i><span>E-mail</span><a href="#">contact@bel-cms.dev</a></li>
                        </ul>
                    </div>
                    <a  href="contacts.html#contact-form" class="con-link ajax">Write us</a>
                </div>
                <div class="wrap-bg">
                    <!-- wrapper -->
                    <div id="wrapper">
                        <section>
                            <div class="container">
                                <div class="section-title align-text">
                                    <h2>À lire</h2>
                                    <h3>pendant l'installation, il y aura plusieurs verification au niveau de votre systeme.</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- content-holder   -->
                        <div class="content-holder  scale-bg2 abt-content" data-bgs="images/bg/long/1.jpg" data-dyntitle="About us">
                            <footer>
                                <div class="footer-header">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <!-- footer info -->
                                                <div class="footer-info">
                                                    <h4>About us</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
                                                </div>
                                                <!-- footer info  end-->
                                            </div>
                                            <div class="col-md-4">
                                                <!-- footer info   -->
                                                <div class="footer-info">
                                                    <h4>Contact info</h4>
                                                    <ul class="footer-contacts">
                                                        <li><a href="#"> <i class="fa fa-phone"></i> +7(111)123456789</a></li>
                                                        <li><a href="#"><i class="fa fa-motorcycle"></i> 27th Brooklyn New York, NY 10065</a></li>
                                                        <li><a href="#"><i class="fa fa-envelope-o"></i> yourmail@domain.com</a></li>
                                                    </ul>
                                                </div>
                                                <!-- footer info  end-->
                                            </div>
                                            <div class="col-md-4">
                                                <!-- footer info   -->
                                                <div class="footer-info">
                                                    <h4>Our Services</h4>
                                                    <div class="footer-serv-holder">
                                                        <ul>
                                                            <li><a href="serv-single.html" class="ajax">Design and Build</a></li>
                                                            <li><a href="serv-single.html" class="ajax">Household Repairs</a></li>
                                                            <li><a href="serv-single.html" class="ajax">Tiling and Painting</a></li>
                                                        </ul>
                                                        <ul>
                                                            <li><a href="serv-single.html" class="ajax">Design and Build</a></li>
                                                            <li><a href="serv-single.html" class="ajax">Household Repairs</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- footer info  end-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- sub-footer -->
                                <div class="sub-footer">
                                    <div class="container">
                                        <div class="copy-right">Copyright © 2016 <a href="index.html" class="ajax">Grafon</a>  All Rights Reserved</div>
                                        <div class="footer-social">
                                            <ul>
                                                <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- sub-footer end-->
                                <div class="footer-dec" data-top-bottom="transform: translateY(150px);" data-bottom-top="transform: translateY(-150px);"></div>
                            </footer>
                            <!-- footer end -->              
                        </div>
                        <!-- content-holder   end-->
                    </div>
                    <!-- wrapper end -->
                </div>
                <!-- wrap-bg end-->
            </div>
            <!-- wrapper-inner end-->
            <!--to top    -->
            <div class="to-top">
                <i class="fa fa-long-arrow-up"></i>
            </div>
            <!-- to top  end -->
            <!-- body-bg -->
            <div class="body-bg">
                <div class="body-bg-wrap"></div>
            </div>
            <div class="fixed-column">
                <div class="fix-bg-wrap">
                    <div id="bgd"></div>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/core.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>