## No directory listings
<IfModule autoindex>
  IndexIgnore *
</IfModule>
# Bloquer certains user-agents indésirables
<IfModule mod_rewrite.c>
RewriteEngine On
# Liste des bots à bannir
RewriteCond %{HTTP_USER_AGENT} (AhrefsBot|SemrushBot|MJ12bot|DotBot|BLEXBot|SEOkicks|linkdexbot|MegaIndex|SeznamBot) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (YandexBot|Mail.RU_Bot|Baiduspider|Sogou|PetalBot) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (curl|wget|python-requests|libwww-perl|Scrapy|HttpClient|Go-http-client|Java|okhttp|httpunit|Mechanize) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (HTTrack|SiteSnagger|WebStripper|WebCopier|Teleport|Zeus|BacklinkCrawler) [NC]
# Réponse 403 Forbidden
RewriteRule .* - [F,L]
</IfModule>
Options -Indexes
RewriteBase "/"
RewriteEngine On
RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_URI} !^/index\.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?params=$1 [L,QSA]