/* BelCMS 4.1.1 */
section#belcms_pages_user {
    display: block;
    width: 100%;
    position: relative;
    margin: auto;
}
#belcms_pages_user_nav {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, .9);
    color: var(--bs-gray);
    border-radius: 6px;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 15px;
}
#belcms_pages_user_nav ul {
    display: flex;
}
#belcms_pages_user_nav ul li {
    list-style: none;
    height: 40px;
    margin: 0 10px;
    padding: 0 15px;
    transition: all 500ms linear;
}
#belcms_pages_user_nav ul li.active {
    font-weight: bold;
}
#belcms_pages_user_nav ul li:last-child {
    background-color: var(--bs-red);
    color: var(--bs-white);
    float: right;
    flex-direction: flex-end;
}
#belcms_pages_user_nav ul li a {
    display: block;
    cursor: pointer;
    line-height: 40px;
}

#belcms_user_img {
    position: relative;
}
#belcms_user_img > img:first-child {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    max-height: auto;
}
#belcms_user_img > img:last-child {
    position: absolute;
    bottom: 25px;
    width: 200px;
    border-radius: .25rem;
    left: 25px;
    max-width: 125px;
}
