#belcms_section_teams {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 15px auto;
}
.belcms_section_team_list {
    display: flex;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    background-color: rgba(255, 255, 255, .9);
    overflow: hidden;
}
.belcms_section_team_list_img {
    width: 165px;
    display: block;
    float: left;
}
.belcms_section_team_list_img > img {
    width: 165px;
    height: 165px;
    border: none;
}
.belcms_section_teams_table {
    display: block;
    margin-left: 20px;
    padding: 34px;
    width: 100%;
    position: relative;
}
.belcms_section_teams_table tr td {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 35%;
    text-align: left;
    vertical-align: middle;
}
.belcms_section_teams_table tr td:first-child {
    font-weight: bold;
}
.belcms_section_teams_table_separate {
    display: block;
    text-align: center;
    color: red;
    width: 2%;
    margin: 0 25px;
    line-height: 24px;
}
.belcms_section_teams_table_enter {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.belcms_section_teams_table_enter a {
    text-decoration: none !important;
    color: #f0f0f0;
    background: linear-gradient(10deg, #ffac15, #ff3131);
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 15px;
    height: 40px;
    line-height: 40px;
    transition: all 1s linear;
}
.belcms_section_teams_table_enter a:hover {
    transition: all 1s linear;
    background: linear-gradient(10deg, #ff3131, #ffac15);
}