
.form-control {
    height: 40px !important;
    border: 1px solid rgba(0, 0, 0, .125) !important;
    line-height: 40px !important;
}

.input-group-text {

}

#envoyer {
display: inline-block !important;
    margin: 15px auto !important;
    line-height: 25px !important;
    background: #94ffc1;
    background: linear-gradient(190deg, rgba(148, 255, 193, 1) 0%, rgba(48, 105, 73, 1) 100%);
    color: black;
    padding: 10px 25px !important;
    transition: all 500ms linear;
    border-radius: 4px !important;
    box-shadow: #000 5px !important;
    font-weight: bold;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 6px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 6px 0px rgba(0, 0, 0, 0);
    width: 170px;
}
#envoyer:hover {
    color:#FFF;
    background: #94ffc1;
    background: linear-gradient(0deg, rgba(148, 255, 193, 1) 0%, rgba(48, 105, 73, 1) 100%);
    transition: all 500ms linear;
}
.input-group-text {
  padding: 0 15px !important;
}