.belcms_forum_cat {
    margin-bottom: 15px;
    text-align: left;
    font-size: 13px;
}
.belcms_forum_cat > h3 {
    display: block;
    width: 100%;
    background-color: #464950;
    color: #FFF;
    line-height: 45px;
    text-align: left !important;
    padding-left: 15px;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.belcms_forum_cat > ul {
    display: block;
    width: 100%;
    overflow: hidden;
    border: none;
    box-shadow: 0px 2px 8px 0px #464950, 0px 0px 2px 2px #464950;
}
.belcms_forum_cat > ul > li {
    display: block;
    width: 100%;
    line-height: 51px;
    background-color: #F0F0F0;
    color: #8D939E;
    margin: 0;
    padding: 0;
    height: 55px;
    border-bottom: 1px solid rgb(0,0,0,.1);
}

.belcms_forum_cat_logo {
    background-color: #E1E1E1;
    color: #3C3C3C;
    width: 60px;
    height: 54px;
    float: left;
    padding: 6px;
    cursor: pointer;
    transition: all 500ms linear;
    vertical-align: middle;
}
.belcms_forum_cat_logo:hover {
    background-color: #464950;
    color: #FFF;
    transition: all 500ms linear;
}

.belcms_forum_cat_logo svg,
.belcms_forum_cat_logo i {
    width: 40px;
    padding: 0px 4px;
    height: 25px;
    vertical-align: middle;
}
.belcms_forum_cat_title {
    display: block;
    float: left;
    width: calc(50% - 30px);
    height: 55px;
}
.belcms_forum_cat_title > a {
    display: block;
    width: 100%;
    line-height: 20px;
    padding: 0px 20px;
    margin-top: 8px;
}
.belcms_forum_cat_title span {
    display: block;
    width: 100%;
    line-height: 20px;
    padding: 0px 20px;
}
.belcms_forum_cat_infos {
    float: left;
    width: 220px;
    margin-top: 8px;
}
.belcms_forum_cat_infos span {
    display: block;
    width: 55%;
    line-height: 20px;
}
.belcms_forum_cat_last_msg {
    display: block;
    float: left;
    width: 25%;
    height: 55px;
}
.belcms_forum_cat_last_msg span {
    display: block;
    width: 100%;
    line-height: 20px;
    padding: 0px 20px;
}
.belcms_forum_cat_last_msg > a {
    display: block;
    width: 100%;
    line-height: 20px;
    padding: 0px 20px;
    margin-top: 8px;
}
