#section_downloads {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
#section_download_jquery {
    font-size: 12px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
    padding: 0 !important;
}

#downloads_title {
    display: block;
    background: #f3f3f3;
    border-top: 1px solid #F2F2F2;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    overflow: hidden;
}
#downloads_title h2 {
    display: block;
    float: left;
    text-align: left !important;
    font-weight: 700;
    color: #272727;
    line-height: 50px;
    margin: 0;
    font-size: 16px !important;
}
.downloads_title_view,
.downloads_title_cat {
    float: right;
    padding: 0 15px;
    font-weight: bold;
    width: 240px;
    text-align: center;
}
.downloads_li_content {
    display: block;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #F2F2F2;
    clear: both;
    overflow: hidden;
}
.downloads_li_content div,
.downloads_li_content h3 {
    display: block;
    float: right;
    width: 220px;
    text-align: center;
}
.downloads_li_content h3 {
    display: block;
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 14px !important;
    line-height: 45px;
}
.downloads_li_content h3 p {
    margin: 0px;
    padding: 0;
    line-height: 5px;
    font-weight: normal;
}
.downloads_li_content div span {
    display: inline-block;
    border: 1px solid #F2F2F2;
    padding: 10px;
    border-radius: 4px;
    margin-top: 7px;
}
.downloads_li_content h3 {
    float: left;
    margin: 3px 0;
    width: 50%;
    line-height: 26px;
}
ul#section_download_jquery li.downloads_li_content h3 span {
    display: block;
    clear: both;
}
#hash_md5 {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    text-align: left;
    line-height: 40px;
    padding: 10px 0;
}
#hash_md5 span {
    font-weight: bold;
}
.align-right{
    float: right;
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.blockquote-footer {
    margin: 10px auto;
    padding: 5px 15px;
    text-align: justify;
}
.downloads_list_style {
    list-style: none;
    padding: 0;
    margin: 25px auto;
}
.downloads_list_style li {
    display: flex;
    width: 100%;
    font-weight: normal !important;
    padding: 8px;
    border-bottom: 1px dotted #ccc;
    flex-wrap: wrap;
}
.downloads_list_style li span {
    width: 150px;
    font-weight: bold;
}
article#section_downloads div.section_downloads_cat div.card {
    margin-bottom: 25px;
}