#belcms_downloads {
    background-color: #FFF;
    display: block;
    width: 100%;
    padding: 15px;
    position: relative;
}
#belcms_downloads .no_margin{
    margin:  0 !important;
    padding: 0 !important;
}
#belcms_downloads_view_img {
    width: 245px;
}
#belcms_downloads_view_src {
    max-width: 245px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
#belcms_downloads_view_infos {
    width: calc(100% - 245px);
}
.belcms_downloads_table {
    display: block;
    width: 48%;
    float: left;
    margin:0 1%;
    padding: 15px;
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.belcms_downloads_table tbody {
    display: inline-block;
    width: 100% !important;
}
.belcms_downloads_table tr {
    display: table;
    width: 100%;
    text-align: left;
}
.belcms_downloads_table tr td {
    display: inline-block;
    line-height: 40px;
    position: relative;
    width: 135px;
}
.belcms_downloads_table tr td:after {
  content: '';
  right: 0;
  width: 5px;
  top: 13px;
  height: 13px;
  background: #eaebee;
  display: block;
  z-index: 9999;
  position: absolute;
}
.belcms_downloads_table tr td:nth-child(2):after {
    content: '';
    display: none;
}
.belcms_downloads_table tr td:nth-child(2) {
    padding-left: 15px;
}
.belcms_downloads_table tr td:first-child {
    font-weight: bold;
    font-size: .95em;
}
.belcms_card_body_bg {
    background-color: #f8f9fa;
    border-radius: 4px;
}
.belcms_btn_downloads {
    display: block !important;
    margin-right: 0 !important;
    margin: 0 !important;
    padding: 5px 15px !important;
}
table {
    border: 1px solid rgba(0, 0, 0, .2) !important;
}
table td{
    vertical-align: middle !important;
}
.belcms_bnv {
    padding: 25px;
}