#belcms_links_menu {
    margin: auto;
    text-align: center;
    font-size: 24px;
}
#belcms_links_menu svg,
#belcms_links_menu i {
    font-size: 24px;
}
#headingOne {
    margin: 0 !important;
}
.shock-section .content h2 {
    margin-bottom: 0px !important;
}