#belcms_members_index {

}
#belcms_members_index > h1 {
    display: block;
    margin: 5px auto;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px solid;
    border-color: var(--bs-border-color);
}
#belcms_members_index > div {
    margin-top: 10px;
}
.belcms_img_header {
    margin: 2px;
    border-radius: 0% !important;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0) !important;
}
.belcms_img_header:first-child {
    border-radius: 50% !important;
}
.belcms_img_header img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 10px;
}
.col_radius,
#belcms_members_index .radius {
    border-radius: 43% 43% 0 0;
}