#belcms_links h2 {
    display: block;
    margin: auto;
    text-align: center;
}
.active {
    border-bottom: 2px solid var(--gray-50-color);
}
#belcms_links_menu {
    margin: auto;
    text-align: center;
}
#belcms_links_cat {
    margin: auto;
    text-align: center;
}
#belcms_links_cat span {
    display: inline-block;
    text-align: left;
    margin: 15px 25px;
}
#belcms_links_cat span a {
    display: block;
    margin-bottom: 5px;
}
#belcms_links_menu a:hover {
    border-bottom: 1px solid var(--gray-50-color);
    transition: all 500ms linear;
}
#belcms_links_stats {
    display: block;
    margin: 10px auto;
    text-align: center;
}
#belcms_links_stats span i {
    font-weight: bold;
}
#belcms_links_cat .card {
    margin-bottom: 10px;
    border: 1px solid var(--gray-50-color);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
#belcms_links_cat .card-title {
    background-color: var(--gray-10-color);
    color: #000;
    line-height: 40px;
    padding-left: 15px;
    text-align: left;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-top: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
#belcms_links_cat .card-body {
    text-align: left;
    padding: 0 !important;
    position: relative;
}
#belcms_links_cat .card-text {
    padding-left: 15px;
}
#belcms_links_cat .btn-primary {
    margin: 5px 0 10px 15px;
}
#belcms_links_cat .card-body .view {
    display: block;
    float: right;
    margin: 0 !important;
    margin-right: 15px !important;
}

#belcms_links_link {
    border: 1px solid var(--gray-50-color);
}
#belcms_links_title {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid var(--gray-50-color);
    background-color: var(--gray-10-color);
}
#belcms_links_content_ul {
    display: block;
}
#belcms_links_content_ul li {
    display: block;
    line-height: 30px;
    list-style: none;
}
#belcms_links_content_ul li span:first-child {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}
#belcms_links_content_desc {
    display: table;
    margin: auto;
    overflow-x: hidden;
    width: 100%;
    max-height: 200px;
    border: 1px solid var(--gray-50-color);
    border-left: 0;
    border-right: 0;
    background-color: var(--gray-10-color);
    padding: 10px 15px;
}
#belcms_links_content_desc p {
    line-height: 22px;
}
#belcms_links_click {
    margin: 20px 40px;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
}