section#belcms_articles {
    display: block;
    width: 100%;
    position: relative;
}
#belcms_articles table {
    border: 1px solid var(--bs-table-hover-color) !important;
}
dffz {
    text-decoration: dotted;
}