#belcms_gallery {
    text-align: center;
}
.belcms_main_gallery_box {
    display: inline-table;
    border-radius: 15px;
    width: calc(33% - 25px);
    max-width: calc(33% - 25px);
    background-color: #fbfbfb;
    -webkit-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 15px;
    margin: 25px 10px;
    transition: transform .2s;
    cursor: pointer;
    vertical-align: middle;
}
.belcms_main_gallery_bg {
    display: block;
    border-radius: 15px;
}
.belcms_main_gallery_box {
    text-align: center;
    cursor: pointer;
}
.belcms_main_gallery_bg > div {
    padding: 15px;
    border-radius: 25px 25px 0 0;
}
.belcms_main_gallery_bg > a {
    display: block;
    background-color: var(--gray-25-color);
    line-height: 30px;
    border-radius: 0 0 15px 15px;
}
img.belcms_main_gallery_img {
    max-width: 150px;
    max-height: 150px;
}
#section_gallery > ul {
    font-size: 12px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
    padding: 0 !important;
    list-style: none;
}
#section_gallery_title {
    display: block;
    overflow: hidden;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 15px;
}
#section_gallery_title span {
    float: left;
    font-weight: bold;
    font-size: 13px;
}
.section_gallery_title_img {
    width: 20%;
    max-width: 180px;
    border-radius: 5px;
    position: relative;
}
.section_gallery_title_img img {
    width: 180px;
    height: 120px;
}
.section_gallery_title_name {
    width: 20%;
padding-left: 15px;
}
.section_gallery_title_desc {
    width: 40%;
}
.section_gallery_title_date {
    width: 15%;
}
.section_gallery_title_vote {
    width: auto;
}
#section_gallery_content {
    display: flex;
    overflow: hidden;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 15px;
    vertical-align: text-top;
}
.section_gallery_title_bg {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 60px 0;
    color: #FFF;
}

.section_gallery_title_name {
    width: 20%;
}
.section_gallery_title_desc {
    width: 40%;
}
.section_gallery_title_date {
    width: 15%;
}
.section_gallery_title_vote {
    width: auto;
}